* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background: rgb(54, 57, 68);
}

section {
    height: 1020px;
}

.mainHeader {
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.head_sel ul li {
    float: left;
    margin-left: 20px;
}

.head_sel ul li a {
    color: gray;
}

.head_sel ul li a:hover {
    color: white;
}

.head_sel ul li:nth-child(n+2) {
    position: relative;
    margin-left: 5px;
    padding-left: 10px;
}

.head_sel ul li:nth-child(n+2)::after {
    position: absolute;
    left: 2px;
    top: 3px;
    content: "";
    width: 1px;
    height: 15px;
    background-color: gray;
}

.leng {
    float: right;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 60%;
    margin: 20px auto;
}

#color_link {
    color: white;
}

.lck {
    display: flex;
}

.league {
    width: 58%;
    margin: auto;
    padding: 20px;
    display: flex;
}

.non {
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    margin: 0 25px 10px 25px;
}

.lck img:hover {
    border: 2px solid rgb(198, 243, 0);
}

.league_name {
    text-align: center;
    font-size: 12px;
    color: white;
}

.schedule_header{
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 60);
    position: sticky;
    top:0;
    z-index: 1200;
}

.schedule_header_fix {
    width: 100%;
    height: 200px;
    background: rgb(27, 27, 30);
    position: sticky;
    top:0;
    z-index: 1200;
    border-bottom: 1px solid gray;
}

.contents{
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 40px;
}

.title, .content{
    display: flex;
    font-size: 22px;
    line-height: 30px;
    color:white;
    justify-content: flex-start;
    align-items: flex-end;
}

.title > div > span{
    font-size: 12px;
    line-height: 20px;
    margin-left: 4px;
    color: gray;
}

.date_select{
    display: flex;
    justify-content: space-between;
}

.Year_picker{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 132px;
    height: 40px;
    background-color: rgb(63, 63, 70);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.btn_left {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.btn_left:hover {
    background-color: rgb(80, 80, 90);
    border-radius: 4px;
}

.year{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn_right{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.team-filter {
    padding-left: 15px;
}

.team-filter-wrap{
    width: 248px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    position: relative;
    padding: 0px 12px; 
    background-color: rgb(63, 63, 70);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    font-size: 14px;
}

.cancel {
    display: inline-block;
    justify-content: space-between;
}

.in_team{
    background-color: rgb(63, 63, 70);
    border: 0;
    margin-left: 20px;
}

.MonthTabs{
    width: 60%;
    margin: auto;
    display: flex;
}

.holder {
    width: 100%;
    margin: 30px 10px;
    background-color: rgb(63, 63, 70);
    padding: 15px 20px;
    color:white;
    border-radius: 5px;
}

.Month {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrapper {
    height: 100%;
    background: rgb(27, 27, 30);
}

.page-schedule {
    width: 60%;
    margin: auto;
}

.schedule_list h4 {
    padding: 20px 0;
    color: white;
}

.list_content {
    margin-top: 20px;
}

.match_box {
    border-radius: 5px;
    background-color: rgb(39, 39, 44);
    padding: 12px 20px;
}

.date-bar {
    font-size: 15   px;
    font-weight: 700;
    color: white;
}

.detail_schedule_item{
    background-color: rgb(51, 51, 57) !important;
    display: flex;
    color: #fff;
    z-index: 10;
    padding: 17.5px 20px;
    justify-content: space-between;
}

.match_time {
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live_tag {
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 11px;
    padding: 3px 5px;
}

.time_ {
    font-size: 12px;
    align-items: center;
}

.team_profile {
    width: 420px;
    justify-content: center;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

._team {
    display: flex;
}

.left_team_img, .right_team_img {
    width: 20px;
    height: 20px;
    align-items: center;
    display: flex;
}

.left_team_img {
    margin-left: 10px;
}

.left_span, .right_span{
    display: flex;
    width: 140px;
}

.right_team_img{
    margin-right: 10px;
}

.left_span {
    justify-content: flex-end;
}

.right_span {
    justify-content: flex-start;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    font-size: 18px;
    font-weight: 700;
    column-gap: 12px;
}

.border_bot {
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid gray;
    color: white;
    width: 100%;
    height: 100%;
    background: rgb(27, 27, 30);
    margin-top: 60px;
    position: relative;
}

.footer_main{
    width: 63%;
    margin: auto;
}

.footer_font{
    padding-top: 50px;
    float: left;
}
.fot_font{
    display: inline-block;
    padding: 45px 20px;
}

.fot_top a{
    color: white;
    font-size: 11px;
}

.fot_mid{
    padding-top: 8px;
}
.fot_bot{
    padding-top: 5px;
}
.fot_mid, .fot_bot{
    font-size: 11px;
    color: gray;
}
.fot_top a:nth-child(n+2) {
    position: relative;
    margin-left: 5px;
    padding-left: 10px;
}

.fot_top a:nth-child(n+2)::after {
    position:absolute;
    left: 0;
    top: 3px;
    content: "";
    width: 1px;
    height: 13px;
    background-color: gray;
}

.anther{
    position: relative;
    z-index: 10000000;
}
.message_button {
    position: fixed;
    right: 50px;
    border-radius: 50%;
    background-color: rgb(198, 243, 0);
    width: 60px;
    height: 60px;
    color: white;
    bottom: 50px;
    border: 0px;
    cursor: pointer;
}

iframe {
    width: 300px;
    height: 350px;
    background: #fff;
    position: fixed;
    bottom: 120px;
    right: 50px;
}

