* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

ol ul li {
    margin: 0px;
    padding: 0px;
}

header {
    background: rgb(38, 41, 45);
}

#color_link {
    color: white;
}

.mainHeader {
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.leng{
    color:white;
}

.head_sel ul li {
    float: left;
    margin-left: 20px;
}

.head_sel ul li a {
    color: gray;
}

.header_logo {
    width: 70%;
    height: 70px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.subhead_right {
    float: right;
    display: flex;
}

.login {
    border: 1px solid white;
    background: rgb(38, 41, 45);
    color: white;
    border-radius: 5px;
    margin: 2px 20px;
    padding: 0 13px;
    height: 40px;

}

.head_sel ul li:nth-child(n+2) {
    position: relative;
    margin-left: 5px;
    padding-left: 10px;
}

.head_sel ul li:nth-child(n+2)::after {
    position: absolute;
    left: 2px;
    top: 3px;
    content: "";
    width: 1px;
    height: 13px;
    background-color: gray;
}

.flow {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: black;
}

.fixed_con {
    width: 100%;
    height: 200px;
    background: rgb(35, 36, 45);
}

.fixed_title {
    width: 70%;
    margin: auto;
    display: flex;
}

.sub_con {
    float: left;
    flex-direction: column;
    flex-shrink: 0;
}

.Topbar{
    width: 100%;
    height: 65px;
    background: rgb(35, 36, 45);
    position: fixed;
    top: 0;
    overflow: hidden;
}

.Topbar:hover{
    height: 200px;
    overflow: visible;
}

.menu a{
    justify-content: center;
    text-align: center;
    display: flex;
    padding-top: 20px;
    padding-right: 44px;
    padding-bottom: 20px;
    padding-left: 44px;
}

.flow:hover {
    height: 200px;
}


.sub a { 
    color: #bbb;
    display: block;
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
    text-decoration: none;
}

.low{
    height: 580px;
}

.banner {
    width: 100%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    display: inline-block;

    
}
.ban_list{
    transition: 1s ease-out;
    height: 100%;
    display: flex;  
    
}
.ban{

    margin-top: 50px;
}

.ban_font{
    width: 60%;
    position: relative;
    margin: auto;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    bottom: 50px;
}
.ban_btn1 , .ban_btn2{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 10px;
    font-weight: 900;

}


.sec_first{
    width: 100%;
    height: 700px;
}
.official_match{
    width: 70%;
    margin: auto;
}
.match_title{
    display: flex;
    justify-content: space-between;
}
.match_title h2 {

    font-size: 30px;
}
.more_match{

    padding: 10px 14px;
    border-radius: 10px;
    border: 0 ;
}

.match_info{
    position: relative;
}

.match_league{
    float: left;
    margin: 10px;
    position: relative;
    border-radius: 30px;    
}
.match_league img{
    width: 450px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.match_data {
    width: 429px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ebebf0;
    padding: 5px 10px;
    position: absolute;
    top: 255px;
    color:#000;
}
.match_moon{
    background: white;
    float: left;
    border-radius: 10px;
    padding: 8px 15px;
    display: inline-block;
}
.match_moon .m{
    font-size: 15px;
    font-weight: 600;
}
.match_moon .d{
    font-size: 23px;
    font-weight: 700;
}
.title_holder{
    min-height: 75px;
    flex-flow: column;
    justify-content: center;
    display: flex;
    padding: 0 20px;
}
.title_holder p {
    font-size: 12px;
    color:#a4a3ae;
}