* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background: rgb(38, 41, 45);
}

#color_link {
    color: white;
}

.mainHeader {
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.leng{
    color:white;
}

.head_sel ul li {
    float: left;
    margin-left: 20px;
}

.head_sel ul li a {
    color: gray;
}

.header_logo {
    width: 70%;
    height: 70px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.subhead_right {
    float: right;
    display: flex;
}

.login {
    border: 1px solid white;
    background: rgb(38, 41, 45);
    color: white;
    border-radius: 5px;
    margin: 2px 20px;
    padding: 0 13px;
    height: 40px;
    cursor: pointer;
}

.head_sel ul li:nth-child(n+2) {
    position: relative;
    margin-left: 5px;
    padding-left: 10px;
}

.head_sel ul li:nth-child(n+2)::after {
    position: absolute;
    left: 2px;
    top: 3px;
    content: "";
    width: 1px;
    height: 15px;
    background-color: gray;
}

.flow {
    position: absolute;
    z-index: 150;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: black;
}

.fixed_con {
    width: 100%;
    height: 200px;
    background: rgb(35, 36, 45);
}

.fixed_title {
    width: 70%;
    margin: auto;
    display: flex;
}

.sub_con {
    float: left;
    flex-direction: column;
    flex-shrink: 0;
}

.Topbar{
    width: 100%;
    height: 65px;
    background: rgb(35, 36, 45);
    position: fixed;
    top: 0;
    overflow: hidden;
}

.Topbar:hover{
    height: 200px;
    overflow: visible;
}

.menu a{
    justify-content: center;
    text-align: center;
    display: flex;
    padding-top: 20px;
    padding-right: 44px;
    padding-bottom: 20px;
    padding-left: 44px;
}

.flow:hover {
    height: 200px;
}

.sub a { 
    color: #bbb;
    display: block;
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
    text-decoration: none;
}

.low{
    height: 580px;
}

.banner {
    width: 100%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    display: inline-block;
}

.ban_list{
    transition: 1s ease-out;
    height: 100%;
    display: flex;  
}

.ban{

    margin-top: 50px;
}

.ban_font{
    width: 60%;
    position: relative;
    margin: auto;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    bottom: 50px;
}

.ban_btn1 , .ban_btn2{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 10px;
    font-weight: 900;
}

section{
    width: 100%;
    height: 500px;
}

.official_match{
    width: 70%;
    margin: auto;
}

.match_title{
    display: flex;
    justify-content: space-between;
}

.match_title h2 {
    font-size: 30px;
}

.more_match{
    padding: 10px 14px;
    border-radius: 10px;
    border: 0 ;
}

.match_info{
    position: relative;
}

.match_league{
    float: left;
    margin: 10px;
    position: relative;
    border-radius: 30px;    
}

.match_league img{
    width: 450px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.match_data {
    width: 429px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ebebf0;
    padding: 1px 10px;
    position: absolute;
    top: 255px;
    color:#000;
}

.match_moon{
    background: white;
    border-radius: 10px;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 10px;
}

.match_moon .m{
    font-size: 15px;
    font-weight: 600;
}

.match_moon .d{
    font-size: 23px;
    font-weight: 700;
}

.title_holder{
    min-height: 75px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 0 10px;
}

.title_holder p {
    font-size: 12px;
    color:#a4a3ae;
}

.game_img {
    width: 200px;
    height: 310px;
}

.swiper-container {
    width:70%;
    margin: auto;
    height: 320px;
    overflow: hidden;
    position: relative;
  }

.swiper-slide{
    width: 200px;
}

.swiper-button-next{
    color: #fff !important;
}

.swiper-button-prev{
    color: #fff !important;
}

.in-font1, .in-font2, .in-font3, .in-font4, .in-font5, .in-font6, .in-font7, .in-font8, .in-font9, .in-font10, .in-font11{
    z-index: 10;
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 30px;
    font-family: ChakraPetch,Noto Sans,Malgun Gothic,맑은 고딕,sans-serif;
    color: rgba(219,172,64);
    font-weight: 700;
}

.in-font2{
    color: rgb(242, 169, 0);
}

.in-font3{
    color: rgb(16, 236, 165);
}

.in-font4{
    color: rgb(239, 104, 52);
}

.in-font5{
    color: rgb(179, 237, 23);
}

.in-font6{
    color: rgb(105, 197, 250);
}

.in-font7{
    color: rgb(25, 137, 215);
}

.in-font8{
    color: rgba(255, 255, 255, 0.8);
}

.in-font9{
    color: rgb(100, 157, 29);
}

.in-font10{
    color: rgb(247, 96, 38)
}

.in-font11{
    color: rgb(255, 70, 84);
}

.in-kor-font{
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    font-family: ChakraPetch,Noto Sans,Malgun Gothic,맑은 고딕,sans-serif;
    color: #fff;
    left: 10px;
    font-weight: 700;
}

.bor-50{
    position: absolute;
     bottom: 20px;
     width: 200px;
     text-align: center;
}

.swiper-slide .img-bor{
    border-radius: 50%;
    height: 200px;
    background: #000;
    margin-top: 20px;
    width: 200px;
}

.swiper-slide .img-min {
    border-radius: 10px;
    background: #000;
    margin-top: 20px;
    width: 200px;
    height: 300px;
}

.swiper-button-next{
    color: #fff !important;
}

.swiper-button-prev{
    color: #fff !important;
}

.seconde {
    width:70%;
    margin: auto;
    height: 320px;
    overflow: hidden;
    position: relative;
  }

.box-match{
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.box {
    width: 100%;
    height: 550px;
    background: #000;
    border-radius: 30px;
}

.third{
    width:70%;
    margin: auto;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.in_box{
    width: 80%;
    margin: auto;
    background: #ebebf0;
    padding: 15px;
    border-radius: 20px;
}

.d-day{
    background: #fff;
    border-radius: 10px;
    padding: 1px 8px;
    display: inline-block;
    margin: 0;
}

.d-day .m{
    font-size: 15px;
    font-weight: 600;
}

.d-day .d{
    font-size: 23px;
    font-weight: 700;
}

.title_time{
    padding: 0 5px;
    font-size: 13px;
    display: inline-block;
    line-height: 25px;
}

.under_box{
    width: 80%;
    margin: auto;
    background: #ebebf0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
    height: 130px;
}

#third_section{
    height: 650px;
}

.title_hot{
    display: inline-block;
    margin: 0px 10px;
    font-weight: 600;
    line-height: 25px;
}
.title_hot p{
    color:blue;
    font-size: 12px;
}
.title_under_box{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 550;
}

.bot_banner{
    height: 500px;
    position: relative;
}

.banner-container{
    width: 70%;
    margin: auto;
    height: 100%;
}

.riot_bg{
   top: 53px;
   position: absolute;
}

.riot_char {
    z-index: 100;
    position: absolute;
    top: 0;
}

.arena-title-match{
    position: absolute;
    left: 15%;
    top: 120px;
    z-index: 110;
    font-size: 20px;
    color: #fff;
}

.link-wrapper{
    position: absolute;
    top: 200px;
    width: 70%;
    height: 40%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.riot_match_right {
    position: relative;
    z-index: 120;
    width:650px;
    height: 100%;
}

.riot_match_left{
    position: relative;
    z-index: 120;
    width: 650px;
    height: 100%;
}

.riot_match_title_right{
    color: #fff;
    z-index: 130;
    width: 20%;
    position: absolute;
    left: 200px;
    top: 40px;
}

.riot_match_title_left{
    color: #fff;
    z-index: 130;
    width: 20%;
    position: absolute;
    right: 80px;
    top: 40px;
}

.riot_match_title_right h3{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 10px;
    float: left;
}

.riot_match_title_left h3{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 10px;
}

.box_TV{
    border-radius: 10px;
    width: 100%;
}

.tv_{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}

.swiper-slide p {
    font-size: 14px;
    margin: 10px;
}

#more_{
    height: 350px;
}

footer{
    background: rgb(31, 34, 38);
    height: 350px;
}

.icon{
    width: 30%;
    height: 30%;
    margin: auto;
    text-align: center;
}

.icon img{
}

.footer_line{
    width: 70%;
    height: 200px;
    padding: 50px;
    margin: auto;
}

.channels{
    text-align: center;
}

.channels li{
    display: inline-block;
    margin: 10px;
}

.channels li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebf0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.links{
    text-align: center;
}

.link_list{
    display: inline-block;
}

.link_list a{
    margin: 20px 16px 12px 16px;
}

.link_sup{
    display: inline-block;
}

.link_sup a {
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #a4a3ae;
}

.site_info{
    text-align: center;
}

.site_info ul li{
    display: inline-block;
    margin: 15px;
}

.site_info ul li:nth-child(n+2) {
    position: relative;
    margin-left: 3px;
    padding-left: 20px;
}

.site_info ul li:nth-child(n+2)::after {
    position: absolute;
    top: 3px;
    left: 1px;
    content: "";
    width: 1px;
    height: 16px;
    background-color: gray;
}