body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#app{
    height: 100vh;
}

.ko{
    height: 100vh;
}
.login-bg{
    width: 50%;
    height: 100vh;
    background: url(/img/login-bg.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bg h2{
    margin: 0;
}
.login-container{
    width: 50%;
}